extends ../core/_html
include ../core/_logo

block append vars
  - pageid = 'index'
  - title = name

block append style
  style.
  //- style.

block header
  header._container
    +logo
    span.maindesc= description
  hr

block article
  nav._container: +main_nav
  hr
  article._container
    pre._scrollable
      .
        Vision  : !{vision}

        Author  : !{author}
        Year    : !{year}
        Version : !{version}

        LICENSE : !{license}
      //- 