extends _html

block append vars
  - pageid   = 'index'
  - siteUrl += '/index.html'
  -
    title       = 'BareCSS'
    description = 'Simple framework for a clean interface.'

block append style
  style.
    #logo {
      display: block;
      text-align: center;
      font-size: 3em;
      margin: 1em auto;
    }
    #maindesc {
      display: block;
      text-align: center;
      position: relative;
      top: -3em;
      margin-bottom:1em;
    }
    header._container {
      max-width:60em;
      padding-left:.5rem;padding-right:.5rem;
    }
  //- style.

block header
  header._container._center_m._table
    +logo
    span#maindesc= description
  +main_nav

block article
  article._container: pre._scrollable.pre.
    Name         : !{name}
    Title        : !{title}
    Description  : !{description}
    Version      : !{version}

    Author       : !{author}
    Year         : !{year}
    LICENSE      : !{license}

    URL          : !{siteUrl}
    URI          : !{homeUri} 

    Last updated : !{today}
  |
