include _mixins
include _vars
include _nav

block vars

block document
  doctype html
  html

    block head
      head

        block meta
          include _meta

        block stylesheet
          link#_style(rel="stylesheet" media='all' href=homeUri+"css/main.css")
        
        block style
          style.
            /* write your style here */
          //- style.

    block body
      body

        block header
          header !{title} / _html layout

        block main
          main

            block article
              article._container|hi, there

            block aside
              aside
        
        block footer
          footer
            hr._m0
            ._container: small| &copy; !{year} !{author}. All rights reserved.

        block widget
          aside
        
        block script
          script(src=homeUri+"js/theme_v1.0.js")
          script.
            console.log('hi, there');
          //- script.