-
  //- project
  name        = '[project_name]'
  title       = '[untitled]'
  description = '[undescribed]'
  version     = '[version]'

  //- credit
  author      = '[unknown]'
  license     = '[unknown]'

  //- metadata
  now         = new Date()
  today       = now.toDateString()
  year        = now.getFullYear()

  //- urls
  localUrl       = '[local_url]'
  siteUrl        = '[site_url]'
  authorUrl      = '[author_url]'
  sourceUrl      = '[source_url]'

  //- open graph metadata for social media sharing
  og_url         = siteUrl? siteUrl + '?utm_source=homescreen' : undefined;
  og_type        = 'website'
  og_title       = title
  og_description = description
  og_image       = undefined
  og_imageAlt    = undefined

  //- uris
  homeUri     = '/barecss/site/'

  //- styling
  colorScheme = 'light dark'
  themeColor  = undefined
  htmlClass   = []

  //- en or en-US following the BCP 47 language tag standard
  lang        = 'en'
  charset     = 'utf-8'

  //- theme
  INCLUDE_THEMEJS = true

  //- progressive web app metadata
  INCLUDE_MANIFEST        = false
  INCLUDE_SERVICE_WORKERS = false

  //- project status
  const DEVELOPMENT    = 'DEVELOPMENT'
  const PRODUCTION     = 'PRODUCTION'
  const PROJECT_STATUS = DEVELOPMENT

  // host names (case sensitive)
  const LOCALHOST      = 'localhost'
  const HOST           = LOCALHOST

mixin pageData
  +l
  +join([
    `name             = ${name}`,
    `version          = ${version}`,
    ``,
    `author           = ${author}`,
    `today            = ${today}`,
    `year             = ${year}`,
    `license          = ${license}`,
    ``,
    `title            = ${title}`,
    `description      = ${description}`,
    ``,
    `layout           = ${layout}`,
    `pageid           = ${pageid}`,
    `siteUrl          = ${siteUrl}`,
    `homeUri          = ${homeUri}`,
    ``,
    `og_url           = ${og_url}`,
    `og_type          = ${og_type}`,
    `og_title         = ${og_title}`,
    `og_description   = ${og_description}`,
    `og_image         = ${og_image}`,
    `og_imageAlt      = ${og_imageAlt}`,
  ])
  +l